In [15]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False

In [5]:
df.describe()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time
count,1.012303e+08,1.012303e+08,1.012303e+08,1.012303e+08,1.012303e+08,1.012303e+08,1.012303e+08,1.012303e+08,9.887879e+07
mean,5.061517e+07,7.703644e+09,1.076732e+09,5.219605e+03,1.935222e-02,9.040624e+02,1.376123e+00,6.251644e-01,2.542381e+04
std,2.922268e+07,1.159266e+10,6.197163e+08,3.866359e+03,1.377596e-01,1.358302e+03,1.192896e+00,5.225307e-01,1.994815e+04
min,0.000000e+00,0.000000e+00,1.150000e+02,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00
25%,2.530758e+07,5.243436e+08,5.408116e+08,2.063000e+03,0.000000e+00,1.040000e+02,0.000000e+00,0.000000e+00,1.600000e+04
50%,5.061517e+07,2.674234e+09,1.071781e+09,5.026000e+03,0.000000e+00,3.820000e+02,1.000000e+00,1.000000e+00,2.100000e+04
75%,7.592275e+07,9.924551e+09,1.615742e+09,7.425000e+03,0.000000e+00,1.094000e+03,3.000000e+00,1.000000e+00,2.966600e+04
max,1.012303e+08,8.742577e+10,2.147483e+09,3.273600e+04,1.000000e+00,9.999000e+03,3.000000e+00,1.000000e+00,3.000000e+05

In [6]:
import random

In [10]:
sample = df.sample(n=500000, random_state=1)

In [11]:
sample.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
95538567,95538567,1778449606,2026740081,2436,0,620,2,1,7333.0,True
69801590,69801590,887108820,1484733967,6773,0,626,1,1,118400.0,True
87286901,87286901,40509944965,1857133602,1234,0,1214,1,1,27000.0,True
70710779,70710779,1027983000,1504670371,10364,0,155,2,0,10250.0,True
70952670,70952670,2411323824,1509564249,3878,0,7613,2,0,4000.0,True

In [12]:
sample.describe()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time
count,5.000000e+05,5.000000e+05,5.000000e+05,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,488400.000000
mean,5.054168e+07,7.707671e+09,1.075177e+09,5219.894342,0.019306,902.164168,1.374816,0.623740,25469.006452
std,2.925781e+07,1.161315e+10,6.204578e+08,3862.830997,0.137598,1354.601874,1.191909,0.522782,20041.846485
min,2.700000e+01,0.000000e+00,1.150000e+02,0.000000,0.000000,0.000000,-1.000000,-1.000000,0.000000
25%,2.515274e+07,5.220594e+08,5.380838e+08,2064.000000,0.000000,105.000000,0.000000,0.000000,16000.000000
50%,5.054106e+07,2.669134e+09,1.070560e+09,5017.000000,0.000000,380.000000,1.000000,1.000000,21000.000000
75%,7.587798e+07,9.923907e+09,1.615272e+09,7421.250000,0.000000,1094.000000,3.000000,1.000000,29667.000000
max,1.012303e+08,8.647225e+10,2.147482e+09,32736.000000,1.000000,9998.000000,3.000000,1.000000,300000.000000

In [13]:
sample.to_csv('sample.csv')

In [29]:
sample.isnull().sum()

row_id                                0
timestamp                             0
user_id                               0
content_id                            0
content_type_id                       0
task_container_id                     0
user_answer                           0
answered_correctly                    0
prior_question_elapsed_time       11600
prior_question_had_explanation     1947
dtype: int64

In [30]:
from collections import Counter

In [31]:
df.user_id.value_counts()

801103753     17917
1478712595    16914
1842816145    16851
455973631     16789
1660941992    16777
              ...
1032404821        1
1071441751        1
121434886         1
505065481         1
607601423         1
Name: user_id, Length: 393656, dtype: int64

In [18]:
sample.columns

Index(['row_id', 'timestamp', 'user_id', 'content_id', 'content_type_id',
       'task_container_id', 'user_answer', 'answered_correctly',
       'prior_question_elapsed_time', 'prior_question_had_explanation'],
      dtype='object')

In [44]:
# Counter(list(sample.user_id))

In [46]:
sample.user_id.nunique()

138243

In [47]:
sample.content_id.nunique()

13042

In [49]:
sample.groupby(['answered_correctly'])['prior_question_elapsed_time'].mean()

answered_correctly
-1            NaN
 0    25697.51121
 1    25348.97257
Name: prior_question_elapsed_time, dtype: float64

In [51]:
sample.groupby(['answered_correctly'])['prior_question_had_explanation'].sum()

answered_correctly
-1         0
 0    145223
 1    297407
Name: prior_question_had_explanation, dtype: int64

In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [2]:
# create a spark session

spark = SparkSession.builder.master('local').getOrCreate()

In [3]:
## reading in pyspark df
spark_df = spark.read.csv('train.csv', header='true', inferSchema='true')

## observing the datatype of df
type(spark_df)

pyspark.sql.dataframe.DataFrame

In [8]:
# dict for dtypes

data_types = {
    'row_id': 'int64',
    'timestamp': 'int64',
    'user_id': 'int64',
    'content_id': 'int16',
    'content_type_id': 'int8',
    'task_container_id': 'int16',
    'user_answer': 'int8',
    'answered_correctly': 'int8',
    'prior_question_elapsed_time': 'float32',
    'prior_question_had_explanation': 'boolean'
}

In [32]:
import pyspark.sql.types


# df2 = spark_df.withColumn("row_id",col("row_id").cast(StringType)).withColumn("prior_question_had_explanation",col("prior_question_had_explanation").cast(BooleanType))
df2 = spark_df.selectExpr("cast(prior_question_had_explanation as boolean) prior_question_had_explanation",
                         "cast(user_id as string) user_id",
                         "cast(content_type_id as string) content_type_id")
df2.printSchema()
df2.show(truncate=False)
    
# df2.printSchema()

root
 |-- prior_question_had_explanation: boolean (nullable = true)
 |-- user_id: string (nullable = true)
 |-- content_type_id: string (nullable = true)

+------------------------------+-------+---------------+
|prior_question_had_explanation|user_id|content_type_id|
+------------------------------+-------+---------------+
|null                          |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
|false                         |115    |0              |
+------------------------------+-------+---------------+
only showing top 20 rows

In [27]:
df = spark.sql("SELECT user_id, BOOLEAN(prior_question_had_explanation),DATE(timestamp), STRING(content_id), string(content_type_id),STRING(task_container_id), INT(user_answer), INT(answered_correctly), INT(prior_question_elapsed_time), from spark_df")

AnalysisException: "cannot resolve '`user_id`' given input columns: []; line 1 pos 7;\n'Project ['user_id, unresolvedalias('BOOLEAN('prior_question_had_explanation), None), unresolvedalias('DATE('timestamp), None), unresolvedalias('STRING('content_id), None), unresolvedalias('string('content_type_id), None), unresolvedalias('STRING('task_container_id), None), unresolvedalias('INT('user_answer), None), unresolvedalias('INT('answered_correctly), None), unresolvedalias('INT('prior_question_elapsed_time), None), 'from AS spark_df#47]\n+- OneRowRelation\n"

In [28]:
df = pd.read_csv('sample.csv')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 11 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      500000 non-null  int64
 1   row_id                          500000 non-null  int64
 2   timestamp                       500000 non-null  int64
 3   user_id                         500000 non-null  int64
 4   content_id                      500000 non-null  int64
 5   content_type_id                 500000 non-null  int64
 6   task_container_id               500000 non-null  int64
 7   user_answer                     500000 non-null  int64
 8   answered_correctly              500000 non-null  int64
 9   prior_question_elapsed_time     488400 non-null  float64
 10  prior_question_had_explanation  498053 non-null  object
dtypes: float64(1), int64(9), object(1)
memory usage: 42.0+ MB